@model ForgetPassword
@{
    ViewBag.Title = "Forget Password";
    Layout = "~/Views/Shared/_AuthLayout.cshtml";
}

<div asp-validation-summary="None"></div>
<div class="forget-pswd">
    <h2 class="semi-logo">TELi<span>CON</span> Admin</h2>
    <h1 class="title animated flipInX">Password Recovery</h1>
    <div style="width:400px;margin:auto;">
        @if (ViewBag.Success == true)
        {
            <div class="clearfix">
                <h1 style="float:left;width:250px;">Password reset successfully. New password is <b>Password123.</b></h1>
                <span style="float:right;margin-top:15px;" class="ok-holder"><i class="fe-ok"></i></span>
            </div>
            <div class="clearfix buttons">
                <a href="@Url.Action("login", "auth")">Go Back to Login</a>
            </div>
        }
        else
        {
            if (ViewBag.Error == true)
            {
                <div class="clearfix">
                    <h1 style="float:left;width:250px;color:red;">Request sent Failed. Enter your Telicon Email address.</h1>
                    <span style="float:right;margin-top:15px;color:red;" class="ok-holder"><i class="fe-alert"></i></span>
                </div>                
            }
            <form asp-action="ForgetPassword" asp-controller="Auth" method="post">
                <h1>Enter your Telicon Email address.</h1>
                <div class="txt-holder">
                    <input type="text" asp-for="Email" placeholder="Email" />
                    <i class="fe-mail-2"></i>
                </div>
                <button type="submit">Reset Password</button>
                <div class="bottom clearfix">
                    <a href="@Url.Action("login", "auth")">Go back to login</a>
                </div>
            </form>
        }
    </div>
</div>