@{
    ViewBag.Title = "Departments";
}
<table class="admin-tbl" data-url="@Url.Action("index", "Department")" data-name="Department">
    <thead>
        <tr><th>Name</th><th></th></tr>
    </thead>
    <tbody></tbody>
</table>
@section Breadcrumbs{
    <li>Administration</li>
    <li>Departments</li>
}
@section Scripts{
    <script type="text/javascript">
        $(document).ready(function () {
            dataTableOptions.ajax.url = "@Url.Action("departments", "list")";
            dataTableOptions.columnDefs = [
                    { "targets": 0, "name": "Name", "data": "Name", "class": "dt-item-title" },
                    {
                        "targets": 1, "class": "actions",
                        "orderable": false, "searchable": false, "data": null,
                        "defaultContent": "<a href='#edit' class='dt-edit'><i class='fe-pencil-2'></i></a>"
                            + "<a class='dt-dep-act' href='#Activities' title='Activities'><i class='fe-news'></i></a>"
                            + "<a href='#delete' class='dt-delete'><i class='fe-cancel'></i></a>"

                    }
            ];
            dataTableOptions.order = [[0, 'asc']];
            dTable = $("table").DataTable(dataTableOptions);
            dTable.search('').draw();

            $(document).on("click", ".dt-dep-act", function (e) {
                var id = $(this).parents("tr").attr("id");
                $.get("@Url.Action("DepartmentActivities", "Department")", { id: id }, function (html) {
                    removeLoader(false, 500, function () {
                        $("body").append(html);
                        $("#roletask .center").perfectScrollbar();
                    });
                });
            });
        });
    </script>
}