@font-face {
  font-family: 'entypo';
  src: url('../../fonts/entypo.eot?29666755');
  src: url('../../fonts/entypo.eot?29666755#iefix') format('embedded-opentype'),
       url('../../fonts/entypo.woff?29666755') format('woff'),
       url('../../fonts/entypo.ttf?29666755') format('truetype'),
       url('../../fonts/entypo.svg?29666755#entypo') format('svg');
  font-weight: normal;
  font-style: normal;
}
/* Chrome hack: SVG is rendered more smooth in Windozze. 100% magic, uncomment if you need it. */
/* Note, that will break hinting! In other OS-es font will be not as sharp as it could be */
/*
@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: 'entypo';
    src: url('../../fonts/entypo.svg?29666755#entypo') format('svg');
  }
}
*/
 
 [class^="fe-"]:before, [class*=" fe-"]:before {
  font-family: "entypo";
  font-style: normal;
  font-weight: normal;
  speak: none;
 
  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;
  /* opacity: .8; */
 
  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;
     
  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;
 
  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;
 
  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */
 
  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}
 
.fe-users:before { content: '\e800'; } /* '' */
.fe-flag:before { content: '\e801'; } /* '' */
.fe-megaphone:before { content: '\e802'; } /* '' */
.fe-left-open-mini:before { content: '\e803'; } /* '' */
.fe-right-open-mini:before { content: '\e804'; } /* '' */
.fe-up-open-mini:before { content: '\e805'; } /* '' */
.fe-down-open-big:before { content: '\e806'; } /* '' */
.fe-up-open-big:before { content: '\e807'; } /* '' */
.fe-user:before { content: '\e808'; } /* '' */
.fe-flash:before { content: '\e809'; } /* '' */
.fe-key:before { content: '\e80a'; } /* '' */
.fe-thermometer:before { content: '\e80b'; } /* '' */
.fe-bucket:before { content: '\e80c'; } /* '' */
.fe-drive:before { content: '\e80d'; } /* '' */
.fe-database:before { content: '\e80e'; } /* '' */
.fe-clipboard:before { content: '\e80f'; } /* '' */
.fe-floppy:before { content: '\e810'; } /* '' */
.fe-credit-card:before { content: '\e811'; } /* '' */
.fe-air:before { content: '\e812'; } /* '' */
.fe-droplet:before { content: '\e813'; } /* '' */
.fe-traffic-cone:before { content: '\e814'; } /* '' */
.fe-gauge:before { content: '\e815'; } /* '' */
.fe-rocket:before { content: '\e816'; } /* '' */
.fe-flow-parallel:before { content: '\e817'; } /* '' */
.fe-tape:before { content: '\e818'; } /* '' */
.fe-progress-1:before { content: '\e819'; } /* '' */
.fe-flash-1:before { content: '\e81a'; } /* '' */
.fe-left-thin:before { content: '\e81b'; } /* '' */
.fe-folder:before { content: '\e81c'; } /* '' */
.fe-chat:before { content: '\e81d'; } /* '' */
.fe-bookmark:before { content: '\e81e'; } /* '' */
.fe-bookmarks:before { content: '\e81f'; } /* '' */
.fe-archive:before { content: '\e820'; } /* '' */
.fe-lamp:before { content: '\e821'; } /* '' */
.fe-light-down:before { content: '\e822'; } /* '' */
.fe-right-thin:before { content: '\e823'; } /* '' */
.fe-progress-2:before { content: '\e824'; } /* '' */
.fe-moon:before { content: '\e825'; } /* '' */
.fe-language:before { content: '\e826'; } /* '' */
.fe-ticket:before { content: '\e827'; } /* '' */
.fe-water:before { content: '\e828'; } /* '' */
.fe-leaf:before { content: '\e829'; } /* '' */
.fe-paper-plane:before { content: '\e82a'; } /* '' */
.fe-progress-3:before { content: '\e82b'; } /* '' */
.fe-light-up:before { content: '\e82c'; } /* '' */
.fe-box:before { content: '\e82d'; } /* '' */
.fe-attention:before { content: '\e82e'; } /* '' */
.fe-bell:before { content: '\e82f'; } /* '' */
.fe-thumbs-up:before { content: '\e830'; } /* '' */
.fe-alert:before { content: '\e831'; } /* '' */
.fe-vcard:before { content: '\e832'; } /* '' */
.fe-rss:before { content: '\e833'; } /* '' */
.fe-phone:before { content: '\e834'; } /* '' */
.fe-block:before { content: '\e835'; } /* '' */
.fe-adjust:before { content: '\e836'; } /* '' */
.fe-up-thin:before { content: '\e837'; } /* '' */
.fe-flight:before { content: '\e838'; } /* '' */
.fe-flow-line:before { content: '\e839'; } /* '' */
.fe-flow-tree:before { content: '\e83a'; } /* '' */
.fe-flow-branch:before { content: '\e83b'; } /* '' */
.fe-flow-cascade:before { content: '\e83c'; } /* '' */
.fe-chart-area:before { content: '\e83d'; } /* '' */
.fe-cloud-thunder:before { content: '\e83e'; } /* '' */
.fe-progress-0:before { content: '\e83f'; } /* '' */
.fe-down-thin:before { content: '\e840'; } /* '' */
.fe-hourglass:before { content: '\e841'; } /* '' */
.fe-book:before { content: '\e842'; } /* '' */
.fe-keyboard:before { content: '\e843'; } /* '' */
.fe-book-open:before { content: '\e844'; } /* '' */
.fe-clock:before { content: '\e845'; } /* '' */
.fe-up-open:before { content: '\e846'; } /* '' */
.fe-up-bold:before { content: '\e847'; } /* '' */
.fe-down-open-mini:before { content: '\e848'; } /* '' */
.fe-fast-backward:before { content: '\e849'; } /* '' */
.fe-cloud:before { content: '\e84a'; } /* '' */
.fe-chart-bar:before { content: '\e84b'; } /* '' */
.fe-chart-line:before { content: '\e84c'; } /* '' */
.fe-chart-pie:before { content: '\e84d'; } /* '' */
.fe-erase:before { content: '\e84e'; } /* '' */
.fe-infinity:before { content: '\e84f'; } /* '' */
.fe-magnet:before { content: '\e850'; } /* '' */
.fe-brush:before { content: '\e851'; } /* '' */
.fe-mobile:before { content: '\e852'; } /* '' */
.fe-stop:before { content: '\e853'; } /* '' */
.fe-left-dir:before { content: '\e854'; } /* '' */
.fe-left-circled:before { content: '\e855'; } /* '' */
.fe-login:before { content: '\e856'; } /* '' */
.fe-doc:before { content: '\e857'; } /* '' */
.fe-export:before { content: '\e858'; } /* '' */
.fe-feather:before { content: '\e859'; } /* '' */
.fe-print:before { content: '\e85a'; } /* '' */
.fe-retweet:before { content: '\e85b'; } /* '' */
.fe-newspaper:before { content: '\e85c'; } /* '' */
.fe-doc-text:before { content: '\e85d'; } /* '' */
.fe-doc-landscape:before { content: '\e85e'; } /* '' */
.fe-logout:before { content: '\e85f'; } /* '' */
.fe-mic:before { content: '\e860'; } /* '' */
.fe-mute:before { content: '\e861'; } /* '' */
.fe-sound:before { content: '\e862'; } /* '' */
.fe-volume:before { content: '\e863'; } /* '' */
.fe-right-open:before { content: '\e864'; } /* '' */
.fe-right-bold:before { content: '\e865'; } /* '' */
.fe-fast-forward:before { content: '\e866'; } /* '' */
.fe-globe:before { content: '\e867'; } /* '' */
.fe-install:before { content: '\e868'; } /* '' */
.fe-inbox:before { content: '\e869'; } /* '' */
.fe-cd:before { content: '\e86a'; } /* '' */
.fe-network:before { content: '\e86b'; } /* '' */
.fe-pause:before { content: '\e86c'; } /* '' */
.fe-record:before { content: '\e86d'; } /* '' */
.fe-up-dir:before { content: '\e86e'; } /* '' */
.fe-right-dir:before { content: '\e86f'; } /* '' */
.fe-right-circled:before { content: '\e870'; } /* '' */
.fe-up-circled:before { content: '\e871'; } /* '' */
.fe-down-open:before { content: '\e872'; } /* '' */
.fe-left-open:before { content: '\e873'; } /* '' */
.fe-left-bold:before { content: '\e874'; } /* '' */
.fe-to-start:before { content: '\e875'; } /* '' */
.fe-down-bold:before { content: '\e876'; } /* '' */
.fe-download:before { content: '\e877'; } /* '' */
.fe-thumbs-down:before { content: '\e878'; } /* '' */
.fe-ccw:before { content: '\e879'; } /* '' */
.fe-target:before { content: '\e87a'; } /* '' */
.fe-lifebuoy:before { content: '\e87b'; } /* '' */
.fe-mouse:before { content: '\e87c'; } /* '' */
.fe-briefcase:before { content: '\e87d'; } /* '' */
.fe-suitcase:before { content: '\e87e'; } /* '' */
.fe-dot:before { content: '\e87f'; } /* '' */
.fe-dot-2:before { content: '\e880'; } /* '' */
.fe-dot-3:before { content: '\e881'; } /* '' */
.fe-monitor:before { content: '\e882'; } /* '' */
.fe-back-in-time:before { content: '\e883'; } /* '' */
.fe-battery:before { content: '\e884'; } /* '' */
.fe-trophy:before { content: '\e885'; } /* '' */
.fe-signal:before { content: '\e886'; } /* '' */
.fe-list-add:before { content: '\e887'; } /* '' */
.fe-list:before { content: '\e888'; } /* '' */
.fe-palette:before { content: '\e889'; } /* '' */
.fe-cw:before { content: '\e88a'; } /* '' */
.fe-arrows-ccw:before { content: '\e88b'; } /* '' */
.fe-level-down:before { content: '\e88c'; } /* '' */
.fe-level-up:before { content: '\e88d'; } /* '' */
.fe-shuffle:before { content: '\e88e'; } /* '' */
.fe-loop:before { content: '\e88f'; } /* '' */
.fe-switch:before { content: '\e890'; } /* '' */
.fe-play:before { content: '\e891'; } /* '' */
.fe-down-dir:before { content: '\e892'; } /* '' */
.fe-up:before { content: '\e893'; } /* '' */
.fe-right:before { content: '\e894'; } /* '' */
.fe-down:before { content: '\e895'; } /* '' */
.fe-right-open-big:before { content: '\e896'; } /* '' */
.fe-left-open-big:before { content: '\e897'; } /* '' */
.fe-resize-full:before { content: '\e898'; } /* '' */
.fe-resize-small:before { content: '\e899'; } /* '' */
.fe-popup:before { content: '\e89a'; } /* '' */
.fe-publish:before { content: '\e89b'; } /* '' */
.fe-left:before { content: '\e89c'; } /* '' */
.fe-window:before { content: '\e89d'; } /* '' */
.fe-arrow-combo:before { content: '\e89e'; } /* '' */
.fe-bag:before { content: '\e89f'; } /* '' */
.fe-basket:before { content: '\e8a0'; } /* '' */
.fe-shareable:before { content: '\e8a1'; } /* '' */
.fe-share:before { content: '\e8a2'; } /* '' */
.fe-tools:before { content: '\e8a3'; } /* '' */
.fe-cog:before { content: '\e8a4'; } /* '' */
.fe-address:before { content: '\e8a5'; } /* '' */
.fe-location:before { content: '\e8a6'; } /* '' */
.fe-map:before { content: '\e8a7'; } /* '' */
.fe-upload:before { content: '\e8a8'; } /* '' */
.fe-upload-cloud:before { content: '\e8a9'; } /* '' */
.fe-direction:before { content: '\e8aa'; } /* '' */
.fe-reply:before { content: '\e8ab'; } /* '' */
.fe-reply-all:before { content: '\e8ac'; } /* '' */
.fe-forward:before { content: '\e8ad'; } /* '' */
.fe-quote:before { content: '\e8ae'; } /* '' */
.fe-trash:before { content: '\e8af'; } /* '' */
.fe-calendar:before { content: '\e8b0'; } /* '' */
.fe-down-circled:before { content: '\e8b1'; } /* '' */
.fe-cup:before { content: '\e8b2'; } /* '' */
.fe-code:before { content: '\e8b3'; } /* '' */
.fe-compass:before { content: '\e8b4'; } /* '' */
.fe-graduation-cap:before { content: '\e8b5'; } /* '' */
.fe-to-end:before { content: '\e8b6'; } /* '' */
.fe-pencil:before { content: '\e8b7'; } /* '' */
.fe-docs:before { content: '\e8b8'; } /* '' */
.fe-doc-text-inv:before { content: '\e8b9'; } /* '' */
.fe-comment:before { content: '\e8ba'; } /* '' */
.fe-note:before { content: '\e8bb'; } /* '' */
.fe-cancel-circled:before { content: '\e8bc'; } /* '' */
.fe-cancel-squared:before { content: '\e8bd'; } /* '' */
.fe-note-beamed:before { content: '\e8be'; } /* '' */
.fe-music:before { content: '\e8bf'; } /* '' */
.fe-plus:before { content: '\e8c0'; } /* '' */
.fe-plus-circled:before { content: '\e8c1'; } /* '' */
.fe-search:before { content: '\e8c2'; } /* '' */
.fe-plus-squared:before { content: '\e8c3'; } /* '' */
.fe-minus:before { content: '\e8c4'; } /* '' */
.fe-mail:before { content: '\e8c5'; } /* '' */
.fe-flashlight:before { content: '\e8c6'; } /* '' */
.fe-minus-circled:before { content: '\e8c7'; } /* '' */
.fe-heart:before { content: '\e8c8'; } /* '' */
.fe-heart-empty:before { content: '\e8c9'; } /* '' */
.fe-minus-squared:before { content: '\e8ca'; } /* '' */
.fe-help:before { content: '\e8cb'; } /* '' */
.fe-star:before { content: '\e8cc'; } /* '' */
.fe-star-empty:before { content: '\e8cd'; } /* '' */
.fe-help-circled:before { content: '\e8ce'; } /* '' */
.fe-info:before { content: '\e8cf'; } /* '' */
.fe-back:before { content: '\e8d0'; } /* '' */
.fe-user-add:before { content: '\e8d1'; } /* '' */
.fe-info-circled:before { content: '\e8d2'; } /* '' */
.fe-home:before { content: '\e8d3'; } /* '' */
.fe-video:before { content: '\e8d4'; } /* '' */
.fe-picture:before { content: '\e8d5'; } /* '' */
.fe-link:before { content: '\e8d6'; } /* '' */
.fe-attach:before { content: '\e8d7'; } /* '' */
.fe-camera:before { content: '\e8d8'; } /* '' */
.fe-layout:before { content: '\e8d9'; } /* '' */
.fe-lock:before { content: '\e8da'; } /* '' */
.fe-music-1:before { content: '\e8db'; } /* '' */
.fe-menu:before { content: '\e8dc'; } /* '' */
.fe-eye:before { content: '\e8dd'; } /* '' */
.fe-check:before { content: '\e8de'; } /* '' */
.fe-cancel:before { content: '\e8df'; } /* '' */
.fe-ok-outline:before { content: '\e8e0'; } /* '' */
.fe-note-1:before { content: '\e8e1'; } /* '' */
.fe-beaker:before { content: '\e8e2'; } /* '' */
.fe-truck:before { content: '\e8e3'; } /* '' */
.fe-cog-1:before { content: '\e8e4'; } /* '' */
.fe-mail-1:before { content: '\e8e5'; } /* '' */
.fe-search-1:before { content: '\e8e6'; } /* '' */
.fe-params:before { content: '\e8e7'; } /* '' */
.fe-money:before { content: '\e8e8'; } /* '' */
.fe-food:before { content: '\e8e9'; } /* '' */
.fe-calendar-1:before { content: '\e8ea'; } /* '' */
.fe-heart-1:before { content: '\e8eb'; } /* '' */
.fe-star-1:before { content: '\e8ec'; } /* '' */
.fe-sound-1:before { content: '\e8ed'; } /* '' */
.fe-shop:before { content: '\e8ee'; } /* '' */
.fe-diamond:before { content: '\e8ef'; } /* '' */
.fe-clock-1:before { content: '\e8f0'; } /* '' */
.fe-user-1:before { content: '\e8f1'; } /* '' */
.fe-videocam:before { content: '\e8f2'; } /* '' */
.fe-lightbulb:before { content: '\e8f3'; } /* '' */
.fe-t-shirt:before { content: '\e8f4'; } /* '' */
.fe-wallet:before { content: '\e8f5'; } /* '' */
.fe-tv:before { content: '\e8f6'; } /* '' */
.fe-camera-1:before { content: '\e8f7'; } /* '' */
.fe-photo:before { content: '\e8f8'; } /* '' */
.fe-desktop:before { content: '\e8f9'; } /* '' */
.fe-mobile-1:before { content: '\e8fa'; } /* '' */
.fe-attach-1:before { content: '\e8fb'; } /* '' */
.fe-lock-1:before { content: '\e8fc'; } /* '' */
.fe-cd-1:before { content: '\e8fd'; } /* '' */
.fe-inbox-1:before { content: '\e8fe'; } /* '' */
.fe-eye-1:before { content: '\e8ff'; } /* '' */
.fe-tag:before { content: '\e900'; } /* '' */
.fe-globe-1:before { content: '\e901'; } /* '' */
.fe-cloud-1:before { content: '\e902'; } /* '' */
.fe-thumbs-up-1:before { content: '\e903'; } /* '' */
.fe-pencil-1:before { content: '\e904'; } /* '' */
.fe-paper-plane-1:before { content: '\e905'; } /* '' */
.fe-comment-1:before { content: '\e906'; } /* '' */
.fe-fire:before { content: '\e907'; } /* '' */
.fe-graduation-cap-1:before { content: '\e908'; } /* '' */
.fe-location-1:before { content: '\e909'; } /* '' */
.fe-cup-1:before { content: '\e90a'; } /* '' */
.fe-megaphone-1:before { content: '\e90b'; } /* '' */
.fe-database-1:before { content: '\e90c'; } /* '' */
.fe-trash-1:before { content: '\e90d'; } /* '' */
.fe-doc-1:before { content: '\e90e'; } /* '' */
.fe-key-1:before { content: '\e90f'; } /* '' */
.fe-pencil-2:before { content: '\e910'; } /* '' */
.fe-tag-1:before { content: '\e911'; } /* '' */
.fe-flag-filled:before { content: '\e912'; } /* '' */
.fe-print-1:before { content: '\e913'; } /* '' */
.fe-cancel-1:before { content: '\e914'; } /* '' */
.fe-ok:before { content: '\e915'; } /* '' */
.fe-cw-outline:before { content: '\e916'; } /* '' */
.fe-news:before { content: '\e917'; } /* '' */
.fe-doc-text-1:before { content: '\e918'; } /* '' */
.fe-users-1:before { content: '\e919'; } /* '' */
.fe-info-1:before { content: '\e91a'; } /* '' */
.fe-attach-outline:before { content: '\e91b'; } /* '' */
.fe-link-1:before { content: '\e91c'; } /* '' */
.fe-attach-2:before { content: '\e91d'; } /* '' */
.fe-link-outline:before { content: '\e91e'; } /* '' */
.fe-user-2:before { content: '\e91f'; } /* '' */
.fe-cancel-outline:before { content: '\e920'; } /* '' */
.fe-camera-outline:before { content: '\e921'; } /* '' */
.fe-camera-2:before { content: '\e922'; } /* '' */
.fe-cancel-alt:before { content: '\e923'; } /* '' */
.fe-cancel-alt-filled:before { content: '\e924'; } /* '' */
.fe-cancel-circled-outline:before { content: '\e925'; } /* '' */
.fe-cancel-circled-1:before { content: '\e926'; } /* '' */
.fe-plus-outline:before { content: '\e927'; } /* '' */
.fe-plus-1:before { content: '\e928'; } /* '' */
.fe-pin:before { content: '\e929'; } /* '' */
.fe-pin-outline:before { content: '\e92a'; } /* '' */
.fe-lock-open-filled:before { content: '\e92b'; } /* '' */
.fe-lock-open:before { content: '\e92c'; } /* '' */
.fe-lock-filled:before { content: '\e92d'; } /* '' */
.fe-lock-2:before { content: '\e92e'; } /* '' */
.fe-eye-outline:before { content: '\e92f'; } /* '' */
.fe-eye-2:before { content: '\e930'; } /* '' */
.fe-tags:before { content: '\e931'; } /* '' */
.fe-bookmark-1:before { content: '\e932'; } /* '' */
.fe-flag-1:before { content: '\e933'; } /* '' */
.fe-download-outline:before { content: '\e934'; } /* '' */
.fe-download-1:before { content: '\e935'; } /* '' */
.fe-upload-outline:before { content: '\e936'; } /* '' */
.fe-upload-1:before { content: '\e937'; } /* '' */
.fe-upload-cloud-outline:before { content: '\e938'; } /* '' */
.fe-upload-cloud-1:before { content: '\e939'; } /* '' */
.fe-chat-alt:before { content: '\e93a'; } /* '' */
.fe-comment-2:before { content: '\e93b'; } /* '' */
.fe-edit:before { content: '\e93c'; } /* '' */
.fe-pen:before { content: '\e93d'; } /* '' */
.fe-location-2:before { content: '\e93e'; } /* '' */
.fe-cog-outline:before { content: '\e93f'; } /* '' */
.fe-cog-2:before { content: '\e940'; } /* '' */
.fe-music-outline:before { content: '\e941'; } /* '' */
.fe-music-2:before { content: '\e942'; } /* '' */
.fe-search-outline:before { content: '\e943'; } /* '' */
.fe-search-2:before { content: '\e944'; } /* '' */
.fe-mail-2:before { content: '\e945'; } /* '' */
.fe-heart-2:before { content: '\e946'; } /* '' */
.fe-heart-filled:before { content: '\e947'; } /* '' */
.fe-star-2:before { content: '\e948'; } /* '' */
.fe-star-filled:before { content: '\e949'; } /* '' */
.fe-user-outline:before { content: '\e94a'; } /* '' */
.fe-users-outline:before { content: '\e94b'; } /* '' */
.fe-user-add-outline:before { content: '\e94c'; } /* '' */
.fe-user-add-1:before { content: '\e94d'; } /* '' */
.fe-user-delete-outline:before { content: '\e94e'; } /* '' */
.fe-user-delete:before { content: '\e94f'; } /* '' */
.fe-video-1:before { content: '\e950'; } /* '' */
.fe-videocam-outline:before { content: '\e951'; } /* '' */
.fe-videocam-1:before { content: '\e952'; } /* '' */
.fe-picture-outline:before { content: '\e953'; } /* '' */
.fe-picture-1:before { content: '\e954'; } /* '' */
.fe-th-outline:before { content: '\e955'; } /* '' */
.fe-th:before { content: '\e956'; } /* '' */
.fe-th-large-outline:before { content: '\e957'; } /* '' */
.fe-th-large:before { content: '\e958'; } /* '' */
.fe-th-list-outline:before { content: '\e959'; } /* '' */
.fe-th-list:before { content: '\e95a'; } /* '' */
.fe-minus-outline:before { content: '\e95b'; } /* '' */
.fe-minus-1:before { content: '\e95c'; } /* '' */
.fe-divide-outline:before { content: '\e95d'; } /* '' */
.fe-divide:before { content: '\e95e'; } /* '' */
.fe-eq-outline:before { content: '\e95f'; } /* '' */
.fe-info-outline:before { content: '\e960'; } /* '' */
.fe-eq:before { content: '\e961'; } /* '' */
.fe-home-outline:before { content: '\e962'; } /* '' */
.fe-home-1:before { content: '\e963'; } /* '' */
.fe-thumbs-up-2:before { content: '\e964'; } /* '' */
.fe-thumbs-down-1:before { content: '\e965'; } /* '' */
.fe-reply-outline:before { content: '\e966'; } /* '' */
.fe-reply-1:before { content: '\e967'; } /* '' */
.fe-forward-outline:before { content: '\e968'; } /* '' */
.fe-forward-1:before { content: '\e969'; } /* '' */
.fe-code-outline:before { content: '\e96a'; } /* '' */
.fe-location-outline:before { content: '\e96b'; } /* '' */
.fe-address-1:before { content: '\e96c'; } /* '' */
.fe-vcard-1:before { content: '\e96d'; } /* '' */
.fe-contacts:before { content: '\e96e'; } /* '' */
.fe-warning:before { content: '\e96f'; } /* '' */
.fe-warning-empty:before { content: '\e970'; } /* '' */
.fe-attention-filled:before { content: '\e971'; } /* '' */
.fe-attention-1:before { content: '\e972'; } /* '' */
.fe-bell-1:before { content: '\e973'; } /* '' */
.fe-chat-1:before { content: '\e974'; } /* '' */
.fe-doc-remove:before { content: '\e975'; } /* '' */
.fe-doc-add:before { content: '\e976'; } /* '' */
.fe-doc-2:before { content: '\e977'; } /* '' */
.fe-trash-2:before { content: '\e978'; } /* '' */
.fe-compass-1:before { content: '\e979'; } /* '' */
.fe-direction-1:before { content: '\e97a'; } /* '' */
.fe-direction-outline:before { content: '\e97b'; } /* '' */
.fe-map-1:before { content: '\e97c'; } /* '' */
.fe-menu-outline:before { content: '\e97d'; } /* '' */
.fe-code-1:before { content: '\e97e'; } /* '' */
.fe-export-outline:before { content: '\e97f'; } /* '' */
.fe-export-1:before { content: '\e980'; } /* '' */
.fe-menu-1:before { content: '\e981'; } /* '' */
.fe-folder-1:before { content: '\e982'; } /* '' */
.fe-folder-add:before { content: '\e983'; } /* '' */
.fe-folder-delete:before { content: '\e984'; } /* '' */
.fe-archive-1:before { content: '\e985'; } /* '' */
.fe-box-1:before { content: '\e986'; } /* '' */
.fe-rss-outline:before { content: '\e987'; } /* '' */
.fe-rss-1:before { content: '\e988'; } /* '' */
.fe-phone-outline:before { content: '\e989'; } /* '' */
.fe-phone-1:before { content: '\e98a'; } /* '' */
.fe-lightbulb-1:before { content: '\e98b'; } /* '' */
.fe-stopwatch:before { content: '\e98c'; } /* '' */
.fe-wristwatch:before { content: '\e98d'; } /* '' */
.fe-clock-2:before { content: '\e98e'; } /* '' */
.fe-headphones:before { content: '\e98f'; } /* '' */
.fe-volume-high:before { content: '\e990'; } /* '' */
.fe-volume-low:before { content: '\e991'; } /* '' */
.fe-volume-middle:before { content: '\e992'; } /* '' */
.fe-volume-off:before { content: '\e993'; } /* '' */
.fe-mic-1:before { content: '\e994'; } /* '' */
.fe-mic-outline:before { content: '\e995'; } /* '' */
.fe-calendar-2:before { content: '\e996'; } /* '' */
.fe-calendar-outlilne:before { content: '\e997'; } /* '' */
.fe-basket-1:before { content: '\e998'; } /* '' */
.fe-wrench:before { content: '\e999'; } /* '' */
.fe-wrench-outline:before { content: '\e99a'; } /* '' */
.fe-block-outline:before { content: '\e99b'; } /* '' */
.fe-looped-square-outline:before { content: '\e99c'; } /* '' */
.fe-looped-square-interest:before { content: '\e99d'; } /* '' */
.fe-certificate-outline:before { content: '\e99e'; } /* '' */
.fe-certificate:before { content: '\e99f'; } /* '' */
.fe-scissors-outline:before { content: '\e9a0'; } /* '' */
.fe-scissors:before { content: '\e9a1'; } /* '' */
.fe-flask:before { content: '\e9a2'; } /* '' */
.fe-wine:before { content: '\e9a3'; } /* '' */
.fe-coffee:before { content: '\e9a4'; } /* '' */
.fe-beer:before { content: '\e9a5'; } /* '' */
.fe-anchor-outline:before { content: '\e9a6'; } /* '' */
.fe-anchor:before { content: '\e9a7'; } /* '' */
.fe-puzzle-outline:before { content: '\e9a8'; } /* '' */
.fe-puzzle:before { content: '\e9a9'; } /* '' */
.fe-tree:before { content: '\e9aa'; } /* '' */
.fe-calculator:before { content: '\e9ab'; } /* '' */
.fe-infinity-outline:before { content: '\e9ac'; } /* '' */
.fe-infinity-1:before { content: '\e9ad'; } /* '' */
.fe-pi-outline:before { content: '\e9ae'; } /* '' */
.fe-pi:before { content: '\e9af'; } /* '' */
.fe-flow-cross:before { content: '\e9b0'; } /* '' */
.fe-flow-parallel-1:before { content: '\e9b1'; } /* '' */
.fe-flow-merge:before { content: '\e9b2'; } /* '' */
.fe-flow-split:before { content: '\e9b3'; } /* '' */
.fe-key-2:before { content: '\e9b4'; } /* '' */
.fe-key-outline:before { content: '\e9b5'; } /* '' */
.fe-database-2:before { content: '\e9b6'; } /* '' */
.fe-clipboard-1:before { content: '\e9b7'; } /* '' */
.fe-credit-card-1:before { content: '\e9b8'; } /* '' */
.fe-ticket-1:before { content: '\e9b9'; } /* '' */
.fe-chart-pie-1:before { content: '\e9ba'; } /* '' */
.fe-chart-pie-outline:before { content: '\e9bb'; } /* '' */
.fe-chart-bar-1:before { content: '\e9bc'; } /* '' */
.fe-chart-alt:before { content: '\e9bd'; } /* '' */
.fe-chart-alt-outline:before { content: '\e9be'; } /* '' */
.fe-chart:before { content: '\e9bf'; } /* '' */
.fe-chart-outline:before { content: '\e9c0'; } /* '' */
.fe-temperatire:before { content: '\e9c1'; } /* '' */
.fe-gift:before { content: '\e9c2'; } /* '' */
.fe-waves-outline:before { content: '\e9c3'; } /* '' */
.fe-plug:before { content: '\e9c4'; } /* '' */
.fe-play-1:before { content: '\e9c5'; } /* '' */
.fe-right-1:before { content: '\e9c6'; } /* '' */
.fe-stop-outline:before { content: '\e9c7'; } /* '' */
.fe-target-outline:before { content: '\e9c8'; } /* '' */
.fe-up-1:before { content: '\e9c9'; } /* '' */
.fe-waves:before { content: '\e9ca'; } /* '' */
.fe-rain:before { content: '\e9cb'; } /* '' */
.fe-cloud-sun:before { content: '\e9cc'; } /* '' */
.fe-drizzle:before { content: '\e9cd'; } /* '' */
.fe-snow:before { content: '\e9ce'; } /* '' */
.fe-cloud-flash:before { content: '\e9cf'; } /* '' */
.fe-cloud-wind:before { content: '\e9d0'; } /* '' */
.fe-wind:before { content: '\e9d1'; } /* '' */
.fe-plane-outline:before { content: '\e9d2'; } /* '' */
.fe-plane:before { content: '\e9d3'; } /* '' */
.fe-leaf-1:before { content: '\e9d4'; } /* '' */
.fe-lifebuoy-1:before { content: '\e9d5'; } /* '' */
.fe-briefcase-1:before { content: '\e9d6'; } /* '' */
.fe-brush-1:before { content: '\e9d7'; } /* '' */
.fe-pipette:before { content: '\e9d8'; } /* '' */
.fe-power-outline:before { content: '\e9d9'; } /* '' */
.fe-power:before { content: '\e9da'; } /* '' */
.fe-check-outline:before { content: '\e9db'; } /* '' */
.fe-check-1:before { content: '\e9dc'; } /* '' */
.fe-moon-1:before { content: '\e9dd'; } /* '' */
.fe-play-outline:before { content: '\e9de'; } /* '' */
.fe-left-1:before { content: '\e9df'; } /* '' */
.fe-bat-charge:before { content: '\e9e0'; } /* '' */
.fe-down-1:before { content: '\e9e1'; } /* '' */
.fe-shuffle-1:before { content: '\e9e2'; } /* '' */
.fe-bat4:before { content: '\e9e3'; } /* '' */
.fe-flash-outline:before { content: '\e9e4'; } /* '' */
.fe-bat3:before { content: '\e9e5'; } /* '' */
.fe-loop-alt:before { content: '\e9e6'; } /* '' */
.fe-right-open-1:before { content: '\e9e7'; } /* '' */
.fe-right-open-outline:before { content: '\e9e8'; } /* '' */
.fe-loop-alt-outline:before { content: '\e9e9'; } /* '' */
.fe-cloud-2:before { content: '\e9ea'; } /* '' */
.fe-sun-filled:before { content: '\e9eb'; } /* '' */
.fe-bat1:before { content: '\e9ec'; } /* '' */
.fe-bat2:before { content: '\e9ed'; } /* '' */
.fe-loop-1:before { content: '\e9ee'; } /* '' */
.fe-left-open-1:before { content: '\e9ef'; } /* '' */
.fe-left-open-outline:before { content: '\e9f0'; } /* '' */
.fe-loop-outline:before { content: '\e9f1'; } /* '' */
.fe-eject-alt:before { content: '\e9f2'; } /* '' */
.fe-sun:before { content: '\e9f3'; } /* '' */
.fe-globe-alt:before { content: '\e9f4'; } /* '' */
.fe-eject-alt-outline:before { content: '\e9f5'; } /* '' */
.fe-arrows-cw:before { content: '\e9f6'; } /* '' */
.fe-popup-1:before { content: '\e9f7'; } /* '' */
.fe-zoom-out:before { content: '\e9f8'; } /* '' */
.fe-arrows-cw-outline:before { content: '\e9f9'; } /* '' */
.fe-eject:before { content: '\e9fa'; } /* '' */
.fe-globe-alt-outline:before { content: '\e9fb'; } /* '' */
.fe-globe-2:before { content: '\e9fc'; } /* '' */
.fe-eject-outline:before { content: '\e9fd'; } /* '' */
.fe-cw-1:before { content: '\e9fe'; } /* '' */
.fe-zoom-out-outline:before { content: '\e9ff'; } /* '' */
.fe-zoom-in:before { content: '\ea00'; } /* '' */
.fe-globe-outline:before { content: '\ea01'; } /* '' */
.fe-record-1:before { content: '\ea02'; } /* '' */
.fe-contrast:before { content: '\ea03'; } /* '' */
.fe-record-outline:before { content: '\ea04'; } /* '' */
.fe-up-small:before { content: '\ea05'; } /* '' */
.fe-zoom-in-outline:before { content: '\ea06'; } /* '' */
.fe-right-small:before { content: '\ea07'; } /* '' */
.fe-rewind:before { content: '\ea08'; } /* '' */
.fe-mobile-2:before { content: '\ea09'; } /* '' */
.fe-popup-2:before { content: '\ea0a'; } /* '' */
.fe-move:before { content: '\ea0b'; } /* '' */
.fe-left-small:before { content: '\ea0c'; } /* '' */
.fe-rewind-outline:before { content: '\ea0d'; } /* '' */
.fe-tablet:before { content: '\ea0e'; } /* '' */
.fe-laptop:before { content: '\ea0f'; } /* '' */
.fe-desktop-1:before { content: '\ea10'; } /* '' */
.fe-wifi:before { content: '\ea11'; } /* '' */
.fe-wifi-outline:before { content: '\ea12'; } /* '' */
.fe-target-1:before { content: '\ea13'; } /* '' */
.fe-block-1:before { content: '\ea14'; } /* '' */
.fe-resize-full-outline:before { content: '\ea15'; } /* '' */
.fe-down-outline:before { content: '\ea16'; } /* '' */
.fe-stop-1:before { content: '\ea17'; } /* '' */
.fe-pause-outline:before { content: '\ea18'; } /* '' */
.fe-pause-1:before { content: '\ea19'; } /* '' */
.fe-fast-fw-outline:before { content: '\ea1a'; } /* '' */
.fe-fast-fw:before { content: '\ea1b'; } /* '' */
.fe-down-small:before { content: '\ea1c'; } /* '' */
.fe-up-outline:before { content: '\ea1d'; } /* '' */
.fe-right-outline:before { content: '\ea1e'; } /* '' */
.fe-left-outline:before { content: '\ea1f'; } /* '' */
.fe-resize-full-1:before { content: '\ea20'; } /* '' */
.fe-resize-normal-outline:before { content: '\ea21'; } /* '' */
.fe-resize-normal:before { content: '\ea22'; } /* '' */