@model LocalPasswordModel
@{
    Layout = "~/Views/Shared/_FormLayout.cshtml";
    ViewBag.AddClass = "sml";
    ViewBag.Title = "Password";
}
<form asp-action="changepassword" asp-controller="auth" method="post" enctype="multipart/form-data">
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(x => x.OldPassword)</td>
        </tr>
        <tr>
            <td>
                <input type="password" asp-for="OldPassword" value="" />
                <span asp-validation-for="OldPassword"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.NewPassword)</td>
        </tr>
        <tr>
            <td>
                <input type="password" asp-for="NewPassword" value="" />
                <span asp-validation-for="NewPassword"></span>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(x => x.ConfirmPassword)</td>
        </tr>
        <tr>
            <td>
                <input type="password" asp-for="ConfirmPassword" value="" />
                <span asp-validation-for="ConfirmPassword"></span>
            </td>
        </tr>
    </table>
</form>
<script type="text/javascript">
    isWO = false;
</script>